<h1>Listing Openings</h1>

  <div id="header" class="span-23 last">
  <%= render 'layouts/header' %>
    <nav class="round">
    
    </nav>
  </header>
<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @opening.each do |opening| %>
  <tr>
    <td><%= link_to 'Show', opening %></td>
    <td><%= opening.pid %></td>
    <td><%= link_to 'Edit', edit_opening_path(opening) %></td>
    <td><%= link_to 'Destroy', opening, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Opening', new_opening_path %>