<div class="span-11 last" id="background"> 

  <% if @opening.errors.any? %>
    <div class="alert-message block-message error">
      <p><strong>You got an error!</strong></p>
      <ul>
        <% @opening.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>    
    </div>
  <% end %>
  
<%= form_for (@opening)  do |f| %>
  <div class="field">
    <%= f.label :company, "Company applied for." %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :position, "Proper name  of position" %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :objective, "Objective" %><br />
    <%= f.text_field :objective %>
  </div>
    <div class="field">
    <%= f.label :pid, "Unique ID" %><br />
    <%= f.text_field :pid %>
  </div>
 <div class="field">
    <%= f.label :grizzard, "Relevant Grizzard experience" %><br />
    <%= f.text_area :grizzard %>
  </div>
 <div class="field">
    <%= f.label :skill, "Relevant skills to highlight" %><br />
    <%= f.text_area :skill %>
  </div>
 <div class="actions">
    <%= f.submit  %>
  </div>
<% end %>
</div>