<%= form_for(@opening) do |f| %>
  <div class="field">
    <%= f.label :company, "Company applied for." %><br />
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :position, "Unique position identifier" %><br />
    <%= f.text_field :position %>
  </div>
  <div class="field">
    <%= f.label :objective, "Objective" %><br />
    <%= f.text_field :objective %>
  </div>
  <div class="field">
    <%= f.label :grizzard, "Relevant Grizzard experience" %><br />
    <%= f.text_field :grizzard %>
  </div>
  <div class="actions">
    <%= f.submit "Check in" %>
  </div>
<% end %>