  <div id="header" class="span-23 last">
  <%= render 'layouts/header' %>
    <nav class="round">
    
    </nav>
  </header>
<div class="span-11 last" id="background"> 

  <% if @user.errors.any? %>
    <div class="alert-message block-message error">
      <p><strong>You got an error!</strong></p>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>    
    </div>
  <% end %>
  
<%= form_for (@user)  do |f| %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>